TASKS_HTTP_PORT=8081
TASKS_DB_HOST=localhost
TASKS_DB_PORT=5433
TASKS_DB_USER=tasks
TASKS_DB_PASSWORD=tasks
TASKS_DB_NAME=tasks
TASKS_DB_SSLMODE=disable
TASKS_KAFKA_BROKERS=localhost:9094
TASKS_KAFKA_TOPIC=tasks.events
TASKS_TIMEZONE=Europe/Moscow
TASKS_WINDOW_DAYS=60
TASKS_OUTBOX_INTERVAL_SECONDS=5
